@charset "ISO-8859-1";

 
.ticketContent {
	position: absolute;
  	color: #fff;
  	top: 40%;
  	width: 100%;
  	text-align: center;
}

.ticketContent a {
	text-decoration: none;
	color: #ff1867;
	font-size: 20px;
}

.ticketContent a:hover {
	color: #00ff00;
}